{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "tabWidth": 2,
  "printWidth": 200,
  "singleAttributePerLine": true,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}