@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-mono: "Geist Mono", "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", '"Liberation Mono"', '"Courier New"', "monospace";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fff;
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@layer base {
  button,
  a {
    cursor: pointer;
  }
}
